table {
    width:100%;
}
table td {
    width:33%;
}

button {
    margin: 50px auto;
    display: block;
    text-align: center;
}

.infobox {
    background-color:#8fa;
    border:2px solid black;
    padding:10px;
    margin:2px;
}

#container {
    width: 1200px;
    height: 1000px;
    overflow: scroll;
}

.parent {
    background-color:#fcc;
    display:inline-block;
    vertical-align:top;

    width:1500px;
    height:1500px;
}

.child {
    border:15px solid #CC6;
    background-color:yellow;

    width:1000px;
    height:800px;

    top:20px;
    left:20px;
}

#childInfo {
    margin: 15px;
    background-color:#CC6;
}

.divbox {
    border:7px solid black;
    width:200px;
    height:30px;
}
